{% extends 'base.html' %}

{% block title %}
Alterar Senha - {{ block.super }}
{% endblock title %}

{% block body %}
    <div class="container">
        <h1>Alterar Senha</h1>
        {% include 'partials/messages.html' %}
        <div class="row">
            <div class="col-md-12">
                <form action="." method="post">
                    {% csrf_token %}
                    {{form.as_p}}
                    <button class="btn btn-lg btn-primary btn-block mt-5" type="submit">Salvar</button><br><br>
                </form>
            </div>
        </div>
    </div>
{% endblock body %}